{% block content %}


<div class="card mb-4">
    <a href="{% url 'post-detail' post.slug %}">
        {% if "placeholder" in post.featured_image.url %}
            <img class="card-img-top" style="max-height: 350px; max-width: 850px"
                src="https://res.cloudinary.com/dmg7oqpgs/image/upload/v1698830526/Project_4/masthead_wxqbsd.jpg">
        {% else %}
            <img class="card-img-top" style="max-height: 350px; max-width: 850px" src="{{ post.featured_image.url }}">
        {% endif %}
    </a>
    <div class="card-body">
        <div class="small author">Author: <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></div>
        <h2 class="card-title">{{ post.title }}</h2>
        <p class="card-text">{{ post.excerpt }}</p>
        <a class="btn btn-primary" href="{% url 'post-detail' post.slug %}">Read more →</a>
        <hr />
        <p class="card-text text-muted h6">{{ post.created_on}} 
            <strong style="float: right;">
                {% if liked %}
                    <button style="padding: 0; border: none; background: none;" type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart" style="color: red;"></i></button>
                {% else %}
                    <button style="padding: 0; border: none; background: none;" type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart" style="color: red;"></i></button>
                {% endif %}
                <span class="text-secondary">{{ post.number_of_likes }}</span> 
            </strong>
            <a href="{% url 'post-detail' slug=post.slug %}" style="padding: 0; border: none; background: none;">
                <i class="far fa-comments"> {{ post.approved_comments.count }}</i>
            </a>    
        </p>
    </div>
</div>

{% endblock %}
