{% extends 'app/base.html' %}
{% load static %}

{% block head_title %}{{ user.username }} | Django Blog{% endblock head_title %}

{% block content %}
<div class="container-fluid mt-5">
  <div class="row">
    <div class="card col-lg-6 offset-lg-3 mb-3">
      <div class="row">
        {% if user.profile.image %}
        <img class="card-img-top col-sm-3 col-4 my-3" src="{{ profile.image.url }}" alt="{{ user.username }}">
        {% else %}
        <img class="card-img-top col-sm-3 col-4 my-3" src="https://res.cloudinary.com/dmg7oqpgs/image/upload/v1701069870/6596121_jcyklg.png" alt="{{ user.username }}">
        {% endif %}
        <div class="card-body col-9">
          <h2 class="card-title my-3">{{ user.username }}</h2>
          <p>Last login on: {{ user.last_login }}</p>
          <p class="card-text">{{ user.profile.about_me }}</p>
        </div>
      </div>
    </div>
    {% if user.pk == user.pk %}
    <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'profile-update' user.pk %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'profile-delete' user.pk %}" >Delete</a>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}