{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block head_title %}{{ user.username }} | Django Blog{% endblock head_title %}

{% block content %}
<!-- Main Section -->
<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7">
        <div class="card">
          <!-- User Profile Header -->
          <div class="rounded-top text-white d-flex flex-column flex-md-row" style="background-color: #000; height: auto;">
            <div class="p-4 d-flex flex-column align-items-center">
              <!-- Profile Image -->
              {% if profile.image %}
                {% cloudinary profile.image.url format="jpg" width=150 height=150 crop="fill" class="img-fluid img-thumbnail my-2" %}
              {% else %}
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                  alt="Generic placeholder image" class="img-fluid img-thumbnail my-2">
              {% endif %}
              <!-- Edit Profile Button -->
              {% if request.user.id == user.id %}
                <a class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="color: white; border-color: white;" href="{% url 'profile-update' user.pk %}">
                  Edit Profile
                </a>
              {% endif %}
            </div>
            <!-- User Information -->
            <div class="ms-md-3 p-4">
              <h3>{{ user.username }}</h3>
              <p>{{ user.email }}</p>
              <hr>
              <p>Last Logged In: {{ user.last_login }}</p>
            </div>
          </div>
          <!-- User Statistics -->
          <div class="p-4 text-black" style="background-color: #d9d9d9">
            <div class="d-flex justify-content-around text-center py-1">
              <div>
                <i class="fas fa-pen"></i>
                <p class="mb-1 h5">{{ object.post_count }}</p>
                <p class="small text-muted mb-0">Posts</p>
              </div>
              <div>
                <i class="fas fa-comment"></i>
                <p class="mb-1 h5">{{ object.comment_count }}</p>
                <p class="small text-muted mb-0">Comments</p>
              </div>
              <div>
                <i class="fas fa-share-alt"></i>
                <p class="mb-1 h5">{{ object.shared_count }}</p>
                <p class="small text-muted mb-0">Shared</p>
              </div>
            </div>
          </div>
          <!-- About Me Section -->
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">{{ user.profile.about_me }}</p>
              </div>
            </div>

            <!-- Placeholder for Published Content -->
            <div class="d-flex justify-content-between align-items-center mb-4">
              Nothing published yet.
            </div>

            <!-- Delete Profile Button -->
            <hr>
            <div class="text-center">
              {% if request.user.id == user.id %}
                <a class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="background-color: red; color: white;"
                  href="{% url 'profile-delete' user.pk %}">
                  Delete Profile
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
