/* -------------------------base.html------------------------------------------  */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set the minimum height of the viewport to ensure footer stays at the bottom */
  margin: 0;
}

.content-wrapper {
  flex-grow: 1; /* Allows the content to grow and push the footer down */
  padding: 20px; /* Add padding as needed */
}

.footer {
  background-color: #333; /* Footer background color */
  color: white; /* Text color */
  padding: 20px 0; /* Adjust padding as needed */
}

/* -------------------------contact.html------------------------------------------  */

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.envelope-animation {
  perspective: 600px;
  margin: 20px 0;
}

.envelope {
  position: relative;
  width: 120px;
  height: 80px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
  animation: float 3s infinite;
}

.flap {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #333;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform-origin: bottom;
  transform: translateX(-50%) rotateX(0deg);
  transition: transform 0.3s ease-in-out;
}

.envelope:hover .flap {
  transform: translateX(-50%) rotateX(180deg);
}

@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

form input {
  width: 80%; 
}

.btn-outline-dark:hover {
  background-color: #4CAF50; 
  color: white;
  transform: scale(1.1); 
  transition: all 0.3s; 
}

#footer {

  bottom: 0;
  width: 100%;
}

/* -------------------------index.html------------------------------------------  */

#header {
  background-color:#f7f7f7;
}

a {
  text-decoration: none;
  color: #6c757d;
  font-weight: bold;
}

.category-list i {
  font-size: 20px; /* Adjust the icon size */
  color: #007bff; /* Adjust the icon color */
  margin-right: 5px; /* Adjust spacing between the icon and category title */
}

#main-post {
  height: 350px;
}

@media screen and (max-width: 1400px) {
  .post-title {font-size: medium;}
}

@media screen and (max-width: 1000px) {
  #main-post {height: auto;}
}

@media screen and (max-width: 767px) {
  .card {height: fit-content;}
}


@media screen and (max-width: 600px) {
  #header {background-color: #d9d9d9;}
  .navbar {padding-left: 3%; padding-right: 3%;}
  .card {border: 3px solid #d9d9d9;}
 
}

/* -------------------------author_message.html------------------------------------------  */

.help-block {
  display: none;
}

/* ------------------------- profile.html------------------------------------------  */

.card-img-top {
  width: 100%; 
  height: 150px; 
  object-fit: cover; 
}

/* ------------------------- contact.html------------------------------------------  */

textarea#id_message {
  width: 80%;
}

/* ------------------------- post_detail.html------------------------------------------  */

@media screen and (max-width:750px){
  #post-image{height: auto;}
}

.hide-label label {right: unset;
  display: none;
}

.comment-light {
  background-color: #f0f0f0; /* Light color */
  /* other styles if needed */
}

.comment-dark {
  background-color: #d6d6d6; /* Dark color */
  /* other styles if needed */
}

/* ------------------------- tag_detail.html------------------------------------------  */

#title {
  margin: 25px auto 25px;
}

/* ------------------------- author_detail.html------------------------------------------  */

div#author-post {
  height: 480px;
}

@media screen and (max-width: 767px) {
 div#author-post {height: auto;}
}