{% load static %}
{% load cloudinary %}

{% block content %}
<div class="card mb-4">
    <div class="card-body">
        <div class="image-container">
            <a href="{% url 'post-detail' post.slug %}">
                {% if post.image %}
                    <!-- Display the post's image using Cloudinary with responsive class -->
                    {% cloudinary post.image alt=post.title class="img-fluid rounded" %}
                {% else %}
                    <!-- Display a placeholder image if the post doesn't have an image -->
                    <img src="{% static 'images/placeholder.jpg' %}" alt="Generic placeholder image" class="img-fluid rounded">
                {% endif %}
            </a>
        </div>

        <!-- Display the post title -->
        <h2 class="card-title h4 mt-3">{{ post.title|truncatewords_html:10 }}</h2>
        
        <!-- Display a brief excerpt from the post -->
        <p class="card-text">{{ post.excerpt }}</p>
        
        <!-- Display the post author with a link to their profile -->
        <p class="card-text small author">Author: <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></p>

        <!-- Link to read the full post -->
        <a class="btn btn-primary" href="{% url 'post-detail' post.slug %}">Read more →</a>
        
        <hr />
        
        <!-- Display post metadata: creation date, like button, and comment count -->
        <div class="d-flex justify-content-between align-items-center">
            <div>
                {{ post.created_on }}
            </div>
            <div class="text-secondary ml-auto">
                <!-- Display the number of likes for the post -->
                <i class="fas fa-heart" style="color: red;"></i>
                <span  style="font-weight: bold;">{{ post.number_of_likes }}</span>
            </div>
            <div class="text-secondary">
                <!-- Display a link to view comments and the comment count -->
                <a href="{% url 'post-detail' slug=post.slug %}" class="text-decoration-none text-dark">
                    <i class="fas fa-comments ml-2" style="color: #0d6efd;"></i> {{ post.approved_comments.count }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
