{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-sm-12 col-md-6 text-center mt-5">
            <h4>Are You Sure?</h4>
            <!-- Confirmation message for deleting a comment -->
            <p class="mt-5">You are about to delete this comment, this cannot be undone.</p>
            <form method="POST">
                {% csrf_token %}
                <div class="col-sm-12 text-center mt-5">
                    <!-- Delete and Back to Feed buttons -->
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger" style="max-height: 40px; font-weight: 600;">Delete</button>
                        <button class="btn btn-success ml-2" style="max-height: 40px;">
                            <a href="{% url 'index' %}" style="text-decoration: none; color: white;">Back to Feed</a>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

