{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5 text-center">
                <div class="card-header"><strong>Update Your Comment</strong></div>

                <div class="card-body">
                    <!-- Form for updating a comment using the POST method -->
                    <form method="POST" class="write-new-comment">
                        {% csrf_token %}
                        <!-- Render form fields with Bootstrap form-group -->
                        {% for field in form %}
                            <div class="form-group ">
                                {{ field }}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <!-- Button to save the updated comment -->
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
