{% extends 'base.html' %}

{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}
{% load social_share %}

{% block content %}
<div class="masthead" style="padding-top: 10px;">
    <div class="container">
        <div class="row col-md-12 masthead-image">
            <!-- Display the post image -->
            {% if post.image %}
                {% cloudinary post.image.url alt=post.title width=100 height=600 %}
            {% else %}
                {% cloudinary "https://res.cloudinary.com/dmg7oqpgs/image/upload/v1699179858/lakyrzjrxgfb05kpyi2r.jpg" alt="Placeholder Image" %}
            {% endif %}
        </div>
        <div class="g-0">
            <div class="col-md-4 masthead-text">
                <!-- Display post tags -->
                {% for tag in post.tags.all %}
                    <p><a href="" class="badge text-decoration-none bg-secondary">{{ tag }}</a></p>
                {% endfor %}
                <!-- Display post title -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Display post author and creation date -->
                <p class="post-subtitle">
                    Author: <a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a> | {{ post.created_on }}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            {% if request.user.profile == post.author.profile %}
            <div class="mt-4 mx-3">
                <!-- Display edit, publish, and delete buttons if the current user is the post author -->
                <a class="btn btn-primary" href="{% url 'post-update' post.slug %}">Edit</a>
                {% if post.status != 1 %}
                <form method="post" action="{% url 'publish-post' post.slug %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Publish</button>
                </form>
                {% endif %}
                <a class="btn btn-danger" href="{% url 'post-delete' post.slug %}">Delete</a>
            </div>
            {% endif %}
            <div class="card-body">
                <!-- Display post content -->
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
                <div class="row">
                    <div class="col-1">
                        <!-- Display post likes -->
                        <strong class="text-secondary">
                            {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'post-like' post.slug %}" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}
                                        <button class="btn-like" type="submit" style="border: none; background-color: white;" name="blogpost_id" value="{{ post.slug }}">
                                            <i class="fas fa-heart" style="color: red;"></i>
                                        </button>
                                    {% else %}
                                        <button class="btn-like" type="submit" style="border: none; background-color: white;" name="blogpost_id" value="{{ post.slug }}">
                                            <i class="far fa-heart" style="color: red;"></i>
                                        </button>
                                    {% endif %}
                                </form>
                            {% else %}
                                <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                    <div class="col-1">
                        <!-- Display total comments count -->
                        {% with comments.count as total_comments %}
                            <strong class="text-secondary"><i class="far fa-comments"></i> {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                    <div class="col-10 text-end">
                        <!-- Social sharing buttons -->
                        <div class="social-sharing" style="margin-right: 0;">
                            <button class="btn btn-social">{% post_to_facebook object_or_url '<i class="fa fa-facebook" aria-hidden="true" style="color: #4267B2;"></i>' %}</button>
                            <button class="btn btn-social">{% post_to_linkedin object_or_url %}</button>
                            <button class="btn btn-social">{% post_to_twitter "A good article: {{ object.title }} - Check it out!" object_or_url '<i class="fa fa-twitter" aria-hidden="true" style="color: #1DA1F2;"></i>' %}</button>
                            <button class="btn btn-social">{% post_to_whatsapp object_or_url '<i class="fa fa-whatsapp" style="color: #25D366;"></i>' %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8 card mb-4 mt-3">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- Display comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.author }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span>
                        {% if comment.approved %}
                        <a class="btn btn-default" href="#">
                            <i class="fa-regular fa-thumbs-up"></i>
                        </a>
                        {% endif %}
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>
                {% if comment.author == user %}
                <div>
                    <!-- Display update and delete buttons for the comment author -->
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'comment-update' comment.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'comment-delete' comment.id %}">Delete</a> 
                </div>
                {% endif %}
                {% empty %}
                <p>There are no comments yet.</p>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                {% if user.is_authenticated %}
                    {% if commented %} 
                        {% if not comment.approved %}
                        <div id="msg" class="alert alert-success" role="alert"> 
                            Your comment is awaiting approval.         
                        </div> 
                        {% else %}
                        <div id="msg" class="alert alert-success" role="alert"> 
                            Your comment was successfully added.
                        </div>     
                        {% endif %}
                    {% endif %}
                    <p id="x" style="display: block;">Posting as: {{ user.username }}</p>
                    <!-- Display comment form for authenticated users -->
                    <form id="x" method="post" style="margin-top: 1.3em; display: block;">
                        {% csrf_token %}
                        {{ comment_form | crispy }}
                        <button type="submit" class="btn btn-success btn-lg">Submit</button>
                    </form>
                    <br>
                {% else %}
                <h3>Leave a comment:</h3>
                <div class="alert alert-danger" role="alert">
                    You are not registered. If you would like to leave a comment, please register <a href="{% url 'account_signup' %}" class="alert-link">here</a>
                </div>
                {% endif %} 
            </div>
        </div>
    </div>
</div>
{% endblock content %}
