{% extends "base.html" %}

{% block head_title %}Delete post{% endblock head_title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <h2 class=" my-5">Delete post</h2>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Are you sure that you want to delete the post "{{post.title}}"?</p>
        <div>
          <button type="submit" class="btn btn-danger" value="Yes">Delete</button>
          <button type="submit" class="btn btn-success" value="'No"> 
            <a style="text-decoration: none; color: white;" href="{% url 'post-detail' post.slug %}">Cancel</a></button>
        </div>
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}