{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h3 id="title" class="text-center col-12">Posts with Tag: <strong>{{ tag.name }}</strong></h3>
    <div class="row">
        {% for post in associated_posts %}
        <div class="col-md-6 mb-4">
            <div class="card-body">
                <!-- Include a separate blog post card template for each draft post -->
                {% include 'blog/blog_post_card.html' %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
