{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block head_title %}
  {{  author.profile.user.username }} | Django Blog
{% endblock head_title %}

{% block content %}
<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <!-- Header Section -->
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height: 200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <!-- Profile Picture -->
              {% if author.profile.image %}
                {% cloudinary author.profile.image.url format="png"   class="img-fluid img-thumbnail mt-2 mb-2" style="height:200px; max-width:200px; border:4px solid gray ; object-fit:cover; z-index: 1" %}
              {% else %}
                {% cloudinary "v1704034646/static/images/avatar.b2e01619cc46" format="png" width=150 height=150 crop="fill" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1" %}
              {% endif %}
            </div>
            <div class="ms-3" style="margin-top: 70px;">
              <!-- Author Information -->
              <h3>{{ author.profile.user.username }}</h3>
              <p>{{ author.profile.user.email }}</p>
              <hr>
              <p style="margin-top: 15px; font-size: small;">Last Logged In: {{author.profile.user.last_login }}</p>
            </div>
          </div>

          <!-- Message Form Section -->
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div>
              <form method="post" action="{% url 'message-author' author.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Send Message" class="btn btn-success" style="float: inline-end;">
              </form>
            </div>
          </div>

          <!-- About Section -->
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">{{ author.profile.about_me }}</p>
              </div>
            </div>

            <!-- Recent posts subsection -->
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Recent Posts</p>
              <p><a href="javascript:void(0);" id="showMoreLink2" class="text-muted">Show all</a></p>
            </div>

            <!-- Recent Posts Section -->
            <div class="row g-2" id="postContainer2">
                {% for post in author.blog_posts.all %}
                  <!-- Individual post card -->
                  <div class="col-12 col-md-6 mb-3 extrapost2">
                    <div class="card h-100 border shadow-sm">
                      <!-- Post Image -->
                      {% if "placeholder" in post.image.url %}
                      <img class="card-img-top"
                          src="
                          https://res.cloudinary.com/dmg7oqpgs/image/upload/v1704527717/static/images/image2-18.28aa1f4dc922.png"
                            alt="{{ post.title }}" width="{{ image_width }}" height="{{ image_height }}">
                      {% else %}
                          <img class="card-img-top" src=" {{ post.image.url }}"  alt="{{ post.title }}" width="{{ image_width }}" height="{{ image_height }}">
                      {% endif %}
                      <div class="card-body">
                        <!-- Post title and truncated content -->
                        <h6 class="card-title">{{ post.title }}</h6>
                        <p class="card-text text-muted">{{ post.content|truncatewords_html:5 }}</p>
                      </div>
                      <hr>
                      <div class="card-footer bg-white border-top-0">
                        <!-- Post date and read more button -->
                        <small class="text-muted mb-2">Posted on {{ post.created_on }}</small>
                        <a href="{% url 'post-detail' post.slug %}" class="btn btn-primary btn-sm float-end">Read More</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
