{% extends 'base.html' %}
{% load static %}

{% block head_title %}{{author_info }} | Django Blog{% endblock head_title %}

{% block content %}

<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                style="width: 150px; z-index: 1">
            </div>
            <div class="ms-3" style="margin-top: 70px;">
              <h3>{{ author_info.author.profile}}</h3>
              <p>{{ author_info.author.profile.user.email }}</p>
              <hr>
              <p style="margin-top: 15px; font-size: small;">{{author_info.author.profile.user.last_login}}</p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">

          <div>
            <form method="post" action="{% url 'message-author' author_id=author_info.id %}">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Send Message" class="btn btn-success" style="float: inline-end;">
              
            </form>
          </div>
            
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1">{{author_info.author.profile.about_me}}</p>
              </div>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Recent posts</p>
              <p class="mb-0"><a href="javascript:void(0);" id="showMoreLink" class="text-muted">Show all</a></p>
            </div>

            <div class="row g-2" id="postContainer">
              {% for post in author_info.author.blog_posts.all %}
              <div class="col-md-6 mb-2 post-card">
                  <div class="card">
                      <img src="{% if 'placeholder' in post.featured_image.url %}https://res.cloudinary.com/dmg7oqpgs/image/upload/v1698830526/Project_4/masthead_wxqbsd.jpg{% else %}{{ post.featured_image.url }}{% endif %}"
                          class="card-img-top rounded-3" alt="{{ post.title }}">
                      <div class="card-body">
                          <h2 class="card-title">{{ post.title }}</h2>
                          <h6>{{ post.created_on }}</h6>
                          <hr>
                          <!-- Display a certain amount of text -->
                          <p class="card-text">{{ post.content|truncatewords_html:5 }} ...</p>

                          <!-- "Read More" link -->
                          <a href="{% url 'post-detail' post.slug %}" class="btn btn-primary">Read More...</a>
                      </div>
                  </div>
              </div>
              {% endfor %}

          </div> 

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}