{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <!-- Message Composition Heading -->
        <h1>Write a message to author: {{ author.username }}</h1>

        <!-- Message Form -->
        <form method="post" action="{% url 'message-author' author.id %}">
            {% csrf_token %}
            {{ form.as_p }}

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
    </div>
{% endblock %}
